################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HeroesInfoLibrary/v15
/HeroesInfoLibrary/bin/Debug/HeroesOfTheStormHeroData.db
